@import 'bulma';

img.userPic{
  height:200px;
  // width:150px;
  margin:10px auto;
  border-radius: 100%;
  text-align: center;
}

.navigation{
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
}

.singlePhoto {
  max-width:250px;
  margin:0;
}

.card {
  width: 250px;
  float: left;
  margin: 0 15px 15px 0;
  cursor: pointer;
  // &:nth-child(5n+1) {
  //   margin-right: 0;
  // }
}

.footer{
  text-align: center;
  clear:both;
  padding-top: 25px;
}
