@import 'bulma';



img.userPic{
  height:200px;
  padding-top:10px;
  margin:10px auto;
  border-radius: 100%;
  text-align: center;
}

.navigation{
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
}

.title{
  margin-bottom:10px;
}

.nameInput{
  font-size:2em;
  margin-bottom:10px;
}

.singlePhoto {
  max-width:250px;
  margin:0;
}

.card {
  width: 250px;
  float: left;
  margin: 0 15px 15px 0;
  cursor: pointer;
}

.media{
  text-align: center;

}

.headerDiv{
  position:relative;
}

.likeCount{
  position:absolute;
  top:25px;
  right: 320px;
}

.mobileLikeCount{
  display:none;
}

.name{
  float:left;
}

.but{
  float:right;
}

.edit-button{

}

.delete-button{
}

.del-button{
  background: transparent;
  border:0;
  -webkit-transition:color .5s, -webkit-transform .5s;
  transition: color .5s, transform .5s;
}

.del-button:hover{
  color:red;
  -webkit-transform: color 5s;
   transform: color .5s;
}

.like-button{
  float:right;
  background: transparent;
  border:0;
  -webkit-transition:color .5s, -webkit-transform .5s;
  transition: color .5s, transform .5s;
}

.like-button:hover{
  color:green;
  -webkit-transform: color 5s;
   transform: color .5s;

}
.fa{
  border:0;
}

.photoDescription{
  width:100%;
  height:100%;
}

.descriptionChoices{
  font-size:1.5em;
}

.fullSizePic{
  position:relative;
  -webkit-transition:color .5s, -webkit-transform .5s;
  transition: color .5s, transform .5s;
}
.fullPic:hover + .detail-like-button {
    color: yellow;
    -webkit-transform: color 1s;
     transform: color 1s;
}

.detail-like-button{
  position:absolute;
  top:40px;
  right:40px;
  background: transparent;
  border:0;
  -webkit-transition:color 2s, -webkit-transform 2s;
  transition: color 2s, transform 2s;
}

.detail-like-button:hover{
  color:green;
  -webkit-transform: color .5s;
   transform: color .5s;
}



.footer{
  text-align: center;
  clear:both;
  padding-top: 25px;
}

@media screen and (max-width: 768px) {

  img.userPic{
    height:200px;
    float:left;
    padding:20px;
  }

  .likeCount{
    display:none;
  }

  .mobileLikeCount{
    display:block;
    text-align: center;
  }


  h1{
    text-align: center;
    padding:2px;
    padding-bottom: 15px;
  }

  .singlePhoto {
    max-width:100vw;
  }

  .card {
    width: 100vw;
  }


  .photoDescription{
    width:100vw;
    text-align: center;
    margin:5px;
  }

}

@media screen and (max-width: 500px) {


img.userPic{
  height:140px;
  float:left;
  padding:20px;
  // padding-left: 20px;
  // padding-right:20px;
// margin:10px auto;
// padding:10px auto;
}


}
