<h1 class="title">Photo Details Page</h1>

<div class="columns">
<div class="column is-three-quarters">
  <a class="fullPic" href="{{detailPhoto.url}}">
  <img ng-src="{{ detailPhoto.url }}" alt="{{ detailPhoto.name }}"></div>
</a>
<div class="column is-one-quarter" ng-hide="editorEnabled">{{detailPhoto.description}}</div>

<div class="column is-one-quarter" ng-show="editorEnabled">
  <textarea class="photoDescription" ng-model="editableDescription" ng-show="editorEnabled">{{detailPhoto.description}}</textarea>
  <a class="descriptionChoices" ng-click="save(detailPhoto)">Save </a><a class="descriptionChoices" ng-click="disableEditor()">Cancel</a>
</div>

<div class="choiceButtons">
<button ng-click="enableEditor(detailPhoto)" class="edit-button">Edit Photo</button>
<button ng-click="deletePhoto(detailPhoto._id)" class="delete-button">Delete Photo</button>
</div>
