<h1 class="title">Home Page</h1>
<hr>

<div class="card" ng-repeat="photo in photoArray" data-id="{{photo._id}}">
    <a href="/#/photo/{{photo._id}}">
        <div class="card-image">
            <figure class="image is-4by3">
                <img class="singlePhoto" ng-src="{{photo.url}}" alt="{{photo.name}}">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <p class="title is-5">{{photo.name}}</p>
            </div>
        </div>
    </a>
</div>
